body
{
  background-color: rgb(231, 231, 230);
}

.statusbar {
    
    text-align: center;
    word-spacing: 20px;
    padding: 20px;
    color: "#01DF3A";
    background-color: rgb(185, 161, 20);
    height: 5px;
    width: 40%;
  }